JSON SCRIPTS/n8n_and_Telegram__audio_chat_done_right_ (1).json
{
  "name": "n8n and Telegram (audio chat done right)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -200
      ],
      "id": "ca20869b-68af-4bc9-ba68-45c5dfcdded8",
      "name": "Telegram Trigger",
      "webhookId": "00a31a1e-5e0e-4393-aba9-a99a458359fb",
      "credentials": {
        "telegramApi": {
          "id": "5pE7uqPKiTHbDGkQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a456a1d-5e15-4e98-8b13-069067a9c09b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        -200
      ],
      "id": "1fa37c90-0504-4091-9198-9473d1022270",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $('Transcribe Audio').item.json.text }}",
        "options": {
          "systemMessage": "=You're a helpful assistant.\n\nHere are your abilities\n\n**you answer general questions and respond with answers from the attach ai model. keep all answers short and to the points, less than 20 words"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        -200
      ],
      "id": "756deb4c-9079-4b0c-b23b-b7132b537184",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        780,
        40
      ],
      "id": "e9f9881a-0d57-4f3f-b3d4-8df5f5a53a2a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "64889c5d-8e7e-4baa-8f17-13a772e4c61a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a456a1d-5e15-4e98-8b13-069067a9c09b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1060,
        -180
      ],
      "id": "c3f54f5b-f457-4a69-a947-c70f9ad3224e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        340,
        -20
      ],
      "id": "685d532c-8c65-483d-bb86-e01ac4e40f66",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "AENY9rxmpiFgJYNU",
          "name": "Open AI (stephen/do)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        -220
      ],
      "id": "ff63198f-4cc2-44c8-9c58-aa85de6e8201",
      "name": "Reply With Text",
      "webhookId": "0ed4ac98-68dd-4ba3-9c87-2fcd78a790a3",
      "credentials": {
        "telegramApi": {
          "id": "5pE7uqPKiTHbDGkQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "22b469cb-d430-4293-a7d8-d466b66e1610",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AENY9rxmpiFgJYNU",
          "name": "Open AI (stephen/do)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Trigger",
        "height": 300,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        -300
      ],
      "typeVersion": 1,
      "id": "a4cf9563-fe54-42de-a61c-ebe23c0d7f7c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Process Audio Input",
        "height": 240,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        -100
      ],
      "typeVersion": 1,
      "id": "a24d5d28-1674-41c4-840c-fb7c1a69cee3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -20
      ],
      "id": "2b2df2f1-6ac8-4891-83f9-74ad91e1aef5",
      "name": "Get Audio File",
      "webhookId": "5f338c17-1deb-428a-b8d6-3cdd28803c49",
      "credentials": {
        "telegramApi": {
          "id": "5pE7uqPKiTHbDGkQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Give me a second...",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -340,
        -200
      ],
      "id": "d293f028-2874-4c48-87ca-90f9e0b099f2",
      "name": "Send Confirmation",
      "webhookId": "1ed62a9c-8529-49ae-a5c9-681701b88c4b",
      "credentials": {
        "telegramApi": {
          "id": "5pE7uqPKiTHbDGkQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        -40
      ],
      "id": "eb166947-3362-4b02-91cf-689025e6ebf1",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "AENY9rxmpiFgJYNU",
          "name": "Open AI (stephen/do)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.result.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "audio.opus",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        -40
      ],
      "id": "48e5a302-41fb-4c43-8422-e2b2d6fcadd9",
      "name": "Reply With Audio",
      "webhookId": "927593d2-c288-4c6f-adb6-6079489fb975",
      "credentials": {
        "telegramApi": {
          "id": "5pE7uqPKiTHbDGkQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Telegram Assistant",
        "height": 500,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -300
      ],
      "typeVersion": 1,
      "id": "4502e98e-51cf-43c1-93d4-18e8d53fffaa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Assistant Response (Text or Voice)",
        "height": 440,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -300
      ],
      "typeVersion": 1,
      "id": "10ff5ed7-8b2f-40f5-bf2b-5847365d6eff",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/JBFqnCBsd6RMkjVDRZzb?output_format=opus_48000_192",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Switch1').item.json.output.replace(/[\\n\\r\"]/g, '') }}\",\n  \"model_id\": \"eleven_multilingual_v2\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1220
      ],
      "id": "7deba0db-6170-4b6c-80ad-9482a14a3955",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jAPTJ3s2HzwZoHtg",
          "name": "11ElevenLabs (stephen/prod)"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 635779935,
          "message": {
            "message_id": 9,
            "from": {
              "id": 2024897974,
              "is_bot": false,
              "first_name": "Stephen",
              "last_name": "Pope",
              "language_code": "en"
            },
            "chat": {
              "id": 2024897974,
              "first_name": "Stephen",
              "last_name": "Pope",
              "type": "private"
            },
            "date": 1744838416,
            "voice": {
              "duration": 6,
              "mime_type": "audio/ogg",
              "file_id": "AwACAgEAAxkBAAMJaAABHxCTODnKRaBgrTDzJAttB5K0AAKNBQAC-U4AAUQQN6Zcfx_tEjYE",
              "file_unique_id": "AgADjQUAAvlOAAFE",
              "file_size": 38878
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Reply With Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Reply With Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69fde71c-6c32-4d64-b105-820565faa6e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdbe949e4bbf44e02f27f522e77e4b59be7d00c724450542d1d92b8329f60058"
  },
  "id": "OLg94xpvODvX6czu",
  "tags": []
}